
.wrapper {
  background: url("old_map.png");
}

.container {
  height: 900px;
  font-family: Helvetica;
}


h1 {
  text-align: center;
  padding-top: 25px;
  color: gray;
}

nav {
  text-decoration: none;
  border-bottom: solid 4px #eee;

}

.field_name {
  padding: 15px;
}

.field_email {
  padding: 15px;
}

.field_phone {
  padding: 15px;
}

.field_actions {
  padding: 15px;
  padding-right: 15px;
}

.ahome {
  display: inline-block;
  margin: 25px;
  padding: 10px;
  background: #E6293F;
  border-radius: 25px;
}

.aabout {
  display: inline-block;
  margin: 25px;
  padding: 10px;
  background: #A7EB63;
  border-radius: 25px;
}

.ablogs {
  display: inline-block;
  margin: 25px;
  padding: 10px;
  background: #F7EF00;
  border-radius: 25px;
}

.acontacts {
  display: inline-block;
  margin: 25px;
  padding: 10px;
  background: #2B7BE3;
  border-radius: 25px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #0055FE;
  font-size: 20px;
}
p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  color: gray;
}

#footer {
  bottom: 0;
  width: 100px;
  height: 60px;
  text-align: left;
  padding-left: 25px;
  border-top: solid 4px #eee;
}
